@import './vars.css';

.hidden {
  display: none;
}

.title {
  font-size: var(--h1Like);
  font-weight: var(--boldWeight);
  margin: 0 auto;
  width: max-content;
  margin-top: 15rem;
}

.quotes {
  width: 80rem;
  margin: 0 auto;
  margin-top: 4rem;
  line-height: 1.2;
}

.quote {
  font-size: var(--quoteSize);
  grid-column: 1;
}

.quote-button {
  font-size: var(--quoteSize);
  background-color: var(--secondaryColor);
  display: block;
  width: 14.7rem;
  height: 3.4rem;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  text-align: center;
  padding-top: .5rem;
  grid-column: 2;
}

.quote_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
