@import './css/reset.css';
@import './css/vars.css';
@import './css/quotes.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  background-color: var(--backgroundColor);
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
